<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tasks List Demo App</title>
        <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h1 class="mt-5">Task List Demo</h1>

                    <form action="{% url 'tasks:home' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Describe your task"
                                   aria-label="Describe your task" aria-describedby="button-addon2" name="name">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary" id="button-addon2">Save</button>
                            </div>
                        </div>
                        <small class="form-text text-muted">{{ form.name.errors }}</small>
                    </form>

                    <h2 class="mt-5">Pending Tasks</h2>

                    {% for task in pending_tasks %}
                        <form action="{% url 'tasks:detail' task_id=task.id %}" method="post">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Describe your task" required="required"
                                       aria-label="Describe your task" name="name" value="{{ task.name }}">
                                <input type="hidden" value="checked" name="done">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-success">Mask as done</button>
                                </div>
                            </div>
                        </form>
                    {% endfor %}

                    <h2 class="mt-5">Tasks Finished</h2>

                    {% for task in tasks_done %}
                        <div class="row">
                            <div class="col-2">
                                <form action="{% url 'tasks:delete' task_id=task.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="input-group mb-3">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-10">
                                <form action="{% url 'tasks:detail' task_id=task.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Describe your task" required="required"
                                               aria-label="Describe your task" name="name" value="{{ task.name }}">

                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-warning">Mask as pendent</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>